body {
  text-align: center;
  margin: 0;
}

main {
  max-width: 626px;
  margin: 64px auto;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-family: "Dosis", sans-serif;
  color: #3f3d56;
  font-weight: normal;
}

h1 span {
  color: #ee24ff;
  font-weight: bold;
  font-size: 32px;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #828282;
  line-height: 22px;
}
p span {
  font-weight: bold;
}
p strong {
  color: #3f3d56;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

footer .separador {
  width: 100%;
  background-color: #eceff2;
  height: 1px;
  max-width: 390px;
  margin: 0 auto;
}

footer div a {
  margin-top: 16px;
  margin-bottom: 42px;
}

.botoes a + a {
  margin-left: 42px;
}

.botoes a {
  font-family: "Open Sans", sans-serif;
  color: #3f3d56;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  height: 0px;
  margin: 0 auto 16px;
}

footer img {
  width: 100vw;
}
